<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simple.mapper.BoardMapper">
	<insert id="boardRegist" parameterType="com.simple.command.BoardVO">
        INSERT INTO board (name, title, content) VALUES (#{name}, #{title}, #{content})
    </insert>
    
    <select id="getList" resultType="com.simple.command.BoardVO">
    	select * from board
    </select>
    
    <delete id="boardDelete" parameterType="int">
    	delete from board where num = #{index} 
    </delete>
</mapper>